.bg {
  background-position: center center;
  background-color: #e4f4ec;
}

.img-login {
  width: 500px;
}

.dropdown-item {
  cursor: pointer;
  border-right: 2px solid #e9e9e9;
  border-left: 2px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
  border-radius: 4px;
}

.b-example-divider {
  height: 1.5rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bg-footer {
  background: #ff008e;
}

.badge-up {
  background: #efcb03;
  color: black;
  border: solid 1px black;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* only if you want fixed height */
}

.price {
  display: flex;
  align-items: flex-end;
  height: 120px;
}

.center-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.user-input {
  outline: none;
  border: 0;
  box-shadow: none
}

.art-vendido {
  border: solid 1px #efcb03 !important;
}

.confirm {
  border: solid 1px #ff008e !important;
}

.error404 {
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.img-carousel {
  min-width: 100%;
  height: 250px;
}

.bg-footer ul {
  list-style: none;
}

.bg-footer ul li .a {
  text-decoration: none;
  color: black !important;
}

.bg-footer ul li .a:hover {
  font-size: 18px;
  text-shadow: black 2px 5px 10px;
}

.bg-footer h6 {
  color: black !important;
}